<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="/home">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-search" aria-current="page" routerLink="/my-games">Mis Juegos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-search" aria-current="page" routerLink="/cart">Mi Carrito</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-search" aria-current="page" routerLink="/catalogue">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-search" aria-current="page" routerLink="/contact">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="banner d-flex justify-content-between align-items-center">
        <h2 class="color-titleText">Cambiar Contraseña</h2>
        <div class="elementos-header d-flex align-items-center">
            <mat-icon class="iconos-header color-search" fontIcon="home"></mat-icon>
            <p class="elementos-header color-search m-0 ml-2">Inicio</p>
            <mat-icon fontIcon="chevron_right" class="ml-2 iconos-header color-text1"></mat-icon>
            <p class="elementos-header m-0 ml-2 color-text1">Cambiar Contraseña</p>
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-center" style="margin: 0px 25px;" *ngIf="currentUser != null">
        <button type="button" (click)="cerrarSesion()" class="btn bt-activo d-flex align-items-center">
            <mat-icon fontIcon="logout" class="mr-2 cerrar-sesion"></mat-icon> <span>Cerrar Sesión</span>
        </button>
    </div>
</header>

<body>
    <div class="sections-container">
        <section>
            <div class="games-container games-border">
                <div class="header-games games-border">
                    <span class="games-text color-text1"><strong>DETALLES DE LA CUENTA</strong></span>
                </div>
                <div class="details">
                    <div class="option mis-juegos games-border" routerLink="/my-games">
                        <div class="d-flex align-items-center">
                            <mat-icon class="option-icon color-search" fontIcon="videogame_asset"></mat-icon>
                            <div class="color-search option-text ml-2">Mis Juegos ({{listProductos.length}})</div>
                        </div>
                    </div>
                    <div class="option mi-carrito games-border" routerLink="/cart">
                        <div class="d-flex align-items-center">
                            <mat-icon class="color-search option-icon" fontIcon="shopping_cart"></mat-icon>
                            <div class="color-search option-text ml-2">Mi Carrito ({{listCarritos.length}})</div>
                        </div>
                    </div>
                    <div class="option cambiar-contra games-border" style="background-color: #F6F9FC;"
                        routerLink="/change-password">
                        <div class="d-flex align-items-center">
                            <mat-icon class="option-icon activo" fontIcon="lock"></mat-icon>
                            <div class="activo option-text ml-2">Cambiar Contraseña</div>
                        </div>
                    </div>
                    <div class="option cambiar-correo games-border" routerLink="/change-email">
                        <div class="d-flex align-items-center">
                            <mat-icon class="color-search option-icon" fontIcon="mail"></mat-icon>
                            <div class="color-search option-text ml-2">Cambiar Correo / Nombre</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="games-container games-border">
                <div class="header-games games-border">
                    <span class="games-text color-text1"><strong>CAMBIAR CONTRASEÑA</strong></span>
                </div>
                <div class="games container-fluid card contenedor-formulario" *ngIf="!loading">
                    <form [formGroup]="form" (ngSubmit)="evaluarContrasenas()">
                        <div class="row mb-3 container">
                            <div class="error col-md-12 mb-3" *ngIf="error1">
                                <div class="alert alert-danger" role="alert">
                                    <strong>Error:</strong> Las contraseñas no coinciden.
                                </div>
                            </div>
                            <div class="error col-md-12 mb-3" *ngIf="error2">
                                <div class="alert alert-danger" role="alert">
                                    <strong>Error:</strong> La contraseña actual es incorrecta.
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <input type="password" id="contra_act" class="form-control" autocomplete="off"
                                        placeholder="Contraseña Actual*" required formControlName="contra_act">
                                    <label for="contra_act">Contraseña Actual*</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 container">
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <input type="password" id="contra_new" class="form-control" autocomplete="off"
                                        placeholder="Contraseña Nueva*" required formControlName="contra_new">
                                    <label for="contra_new">Contraseña Nueva*</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 container">
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <input type="password" id="contra_new2" class="form-control" autocomplete="off"
                                        placeholder="Contraseña Nueva*" required formControlName="contra_new2">
                                    <label for="contra_new2">Contraseña Nueva*</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 container">
                            <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Guardar
                                Cambios</button>
                        </div>

                    </form>
                </div>
            </div>
        </section>
    </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>