<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="/home">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-search activo" aria-current="page" routerLink="/my-games">Mis
                            Juegos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-search" aria-current="page" routerLink="/cart">Mi Carrito</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-search" aria-current="page" routerLink="/catalogue">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-search" aria-current="page" routerLink="/contact">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="banner d-flex justify-content-between align-items-center">
        <h2 class="color-titleText">Mis Juegos</h2>
        <div class="elementos-header d-flex align-items-center">
            <mat-icon class="iconos-header color-search" fontIcon="home"></mat-icon>
            <p class="elementos-header color-search m-0 ml-2">Inicio</p>
            <mat-icon fontIcon="chevron_right" class="ml-2 iconos-header color-text1"></mat-icon>
            <p class="elementos-header m-0 ml-2 color-text1">Mis Juegos</p>
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-center" style="margin: 0px 25px;" *ngIf="currentUser != null">
        <button type="button" (click)="cerrarSesion()" class="btn bt-activo d-flex align-items-center">
            <mat-icon fontIcon="logout" class="mr-2 cerrar-sesion"></mat-icon> <span>Cerrar Sesión</span>
        </button>
    </div>
</header>

<div>
    <h1>Lista de Usuarios</h1>
</div>
<table mat-table [dataSource]="listaUsuario" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="usuarioId">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.usuarioId}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre</th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Correo </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="maxintentos">
        <th mat-header-cell *matHeaderCellDef> Max Intentos </th>
        <td mat-cell *matCellDef="let element"> {{element.maxintentos}} </td>
      </ng-container>

      <ng-container matColumnDef="intentosFallidos">
        <th mat-header-cell *matHeaderCellDef> Intentos Fallidos </th>
        <td mat-cell *matCellDef="let element"> {{element.intentosFallidos}} </td>
      </ng-container>

      <ng-container matColumnDef="estadoId">
        <th mat-header-cell *matHeaderCellDef> Estado ID </th>
        <td mat-cell *matCellDef="let element"> {{element.estadoId}} </td>
      </ng-container>

      <ng-container matColumnDef="rolId">
        <th mat-header-cell *matHeaderCellDef> Rol </th>
        <td mat-cell *matCellDef="let element"> {{element.rolId}} </td>
      </ng-container>

      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="editar(element)">EDITAR</button><button mat-raised-button color="primary" (click)="eliminar(element.usuarioId)">BORRAR</button></td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="edit==true">
    <form [formGroup]="Formulario">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-6 p-2">
            <mat-form-field>
              <mat-label>Modifique el nombre</mat-label>
              <input matInput placeholder="Nombre" formControlName="nombre">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Modifique el apellido</mat-label>
              <input matInput placeholder="Apellido" formControlName="apellido">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Modifique lel correo</mat-label>
              <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Número intentos</mat-label>
              <input matInput placeholder="Maxintentos" formControlName="maxintentos">
            </mat-form-field>
            
            <mat-form-field>
              <mat-label>Intentos Fallidos</mat-label>
              <input matInput placeholder="intentosFallidos" formControlName="intentosFallidos" [disabled]="true">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Mofique el ID estado</mat-label>
              <input matInput placeholder="estadoId" formControlName="estadoId">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Modifique el ID ROL</mat-label>
              <input matInput placeholder="rolId" formControlName="rolId">
            </mat-form-field>


          </div>
          <div class="col-12 col-md-6 p-2">
            <button type="submit" class="btn btn-dark" (click)="guardar()">
              Guardar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>