<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link activo" aria-current="page" routerLink="/home">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-search" aria-current="page" routerLink="/my-games">Mis Juegos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-search" aria-current="page" routerLink="/cart">Mi Carrito</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-search" aria-current="page" routerLink="/catalogue">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-search" aria-current="page" routerLink="/contact">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="banner d-flex justify-content-between align-items-center">
        <h2 class="color-titleText">Inicio</h2>
        <div class="elementos-header d-flex align-items-center">
            <mat-icon class="iconos-header color-search" fontIcon="home"></mat-icon>
            <p class="elementos-header color-search m-0 ml-2">Inicio</p>
            <mat-icon fontIcon="chevron_right" class="ml-2 iconos-header color-text1"></mat-icon>
            <p class="elementos-header m-0 ml-2 color-text1">Inicio</p>
        </div>
    </div>
</header>

<body>
    <div class="container">
        <div class="contenedorTarjeta">
            <p class="tituloLogin">Iniciar Sesion</p>
            <form [formGroup]="FormularioLogin">
                <div class="mb-3">
                    <div class="error col-md-12 mb-3" *ngIf="error">
                        <div class="alert alert-danger" role="alert">
                          <strong>Error:</strong> Las contraseñas no coinciden.
                        </div>
                      </div>
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">

                        <div *ngIf="email.errors?.['required']">
                            El Usuario es requerido
                        </div>
                        <div *ngIf="email.errors?.['email']">
                            El usuario debe tener un formato valido
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">

                        <div *ngIf="password.errors?.['required']">
                            La contraseña es requerida
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" (click)="login()" class="btn btn-dark">Ingresar</button>
                  </div>
                <div class="text-center"><button mat-button color="primary" (click)="recuperar()">Recuperar
                        cuenta</button></div>
                <div class="text-center">
                    <button mat-raised-button color="primary" (click)="registrar()">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</body>